import os
from flask import Flask, render_template

# Get the directory where app.py is located
basedir = os.path.abspath(os.path.dirname(__file__))

# Point Flask explicitly to the 'static' and 'templates' folders
app = Flask(__name__, 
            static_folder=os.path.join(basedir, 'static'),
            template_folder=os.path.join(basedir, 'templates'))

@app.route('/')
def index():
    return render_template('index.html')

if __name__ == '__main__':
    app.run(debug=True, port=5000)